apiVersion: v1
kind: Secret
metadata:
  name: khodiyar-secrets
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: CHANGE_ME
  POSTGRES_DB: khodiyar
  JWT_SECRET: CHANGE_ME
  ACCESS_TOKEN_SECRET: CHANGE_ME
  REFRESH_TOKEN_SECRET: CHANGE_ME
  RAZORPAY_KEY_ID: CHANGE_ME
  RAZORPAY_API_SECRET: CHANGE_ME
